

.footer {
  padding: 3rem 0;
  margin: 8rem 0 0 0;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.footer__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}
.footer__item {
  display: flex;
  align-items: center;
}
.footer__link {
  margin: 0 0.5rem;
  color: var(--color-text);
}
.footer__icon {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0 0 1.6rem;
}

/* md */
@media (min-width: 670px) {
  .footer {
    margin: 16rem 0 0 0;
  }
  .footer__inner {
    flex-direction: row;
    height: auto;
  }
}
