/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
  padding: 1.6rem 0;
  margin: 0 0 8rem 0;
  font-size: 1.6rem;
}
.header__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.header__brand {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  text-decoration: none;
}
.header__brand__avatar {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}
.header__brand__text {
  color: var(--color-text);
  font-weight: 700;
}

@media (min-width: 670px) {
  .header {
    padding: 5rem 0;
  }
  .header__inner {
    justify-content: space-between;
  }
  .header__brand {
    margin-bottom: 0;
  }
  .header__brand__avatar {
    width: 4.8rem;
    height: 4.8rem;
  }
}

/* Navigation */
.nav {
  display: flex;
}
.nav__menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav__item {
  position: relative;
}
.nav__item::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  width: 0;
  height: 0.4rem;
}
.nav__item--active::after,
.nav__item--active:hover::after {
  width: calc(100% - 4rem);
  background-color: var(--color-primary);
}
.nav__link {
  padding: 1.2rem 2rem;
  color: var(--color-text);
  text-decoration: none;
}
.nav__link:hover {
  color: var(--color-text);
}

@media (min-width: 940px) {
  .nav__item:hover::after {
    width: calc(100% - 4rem);
    background-color: var(--color-border);
    transition: width 0.2s ease-in;
  }
}
