.footer {
  padding: 2rem 0;
  margin: 8rem 0 0 0;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.footer__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.footer__item {
  display: flex;
  padding: 0.5rem
}
.footer__link {
  margin: 0 0.5rem;
  color: var(--color-text);
}
.footer__icon {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 0.5rem;
  background-size: 2.4rem;
}
.footer__icon--twitter {
  background-image: var(--icon-twitter);
}
.footer__icon--xing {
  background-image: var(--icon-xing);
}

/* md */
@media (min-width: 670px) {
  .footer {
    margin: 16rem 0 0 0;
  }
  .footer__inner {
    flex-direction: initial;
  }
  .footer__item--right {
    margin: 0 0 0 auto
  }
}
