.nav {
  display: flex;
}
.nav__menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav__item {
  position: relative;
}
.nav__item::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  width: 0;
  height: 0.4rem;
}
.nav__item--active::after,
.nav__item--active:hover::after {
  width: calc(100% - 4rem);
  background-color: var(--color-primary);
}
.nav__link {
  padding: 1.2rem 2rem;
  color: var(--color-text);
  text-decoration: none;
}
.nav__link:hover {
  color: var(--color-text);
}

/* lg */
@media (min-width: 940px) {
  .nav__item:hover::after {
    width: calc(100% - 4rem);
    background-color: var(--color-border);
    transition: width 0.2s ease-in;
  }
}
