.nav {
  display: flex;
}
.nav__togglebtn {
  position: relative;
  z-index: 2;
  width: 4.8rem;
  height: 4.8rem;
  padding: 1.6rem;
  border: 0;
  border-radius: 50%;
  background-color: var(--color-text);
  cursor: pointer;
}
.nav__menu {
  position: absolute;
  z-index: 1;
  left: 5%;
  display: none;
  width: 90%;
  padding: 2.4rem;
  border-radius: 2.4rem;
  margin: unset;
  background-color: var(--color-text);
  color: var(--color-bg);
  list-style: none;
}
.nav--open .nav__menu {
  display: block;
}
.nav__item {
  margin: 0 0 2.4rem 0;
}
.nav__item:last-child {
  margin: unset;
}
.nav__link {
  font-family: var(--font-family-serif);
  font-size: 2.4rem;
  line-height: 2.7rem;
  text-decoration: none;
}

/* lg */
@media (min-width: 940px) {
  .nav__togglebtn {
    display: none;
  }
  .nav__menu {
    position: unset;
    display: flex;
    background-color: unset;
    transform: unset;
  }
  .nav__item {
    position: relative;
    margin: unset;
  }
  .nav__item::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 2rem;
    width: 0;
    height: 0.4rem;
  }
  .nav__item:hover::after {
    width: calc(100% - 4rem);
    background-color: var(--color-border);
    transition: width 0.2s ease-in;
  }
  .nav__item--active::after,
  .nav__item--active:hover::after {
    width: calc(100% - 4rem);
    background-color: var(--color-primary);
  }
  .nav__link {
    padding: 1.2rem 2rem;
    color: var(--color-text);
    font-family: unset;
    font-size: unset;
    line-height: unset;
  }
}

.menuicon {
  position: relative;
  display: block;
  width: 1.6rem;
  height: 1.4rem;
}
.menuicon__bar {
  position: absolute;
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--color-bg);
  transition: top 0.2s ease-in, transform 0.2s ease-in;
}
.menuicon__bar:nth-child(1) {
  top: 0;
}
.menuicon__bar:nth-child(2) {
  top: 50%;
}
.menuicon__bar:nth-child(3) {
  top: 100%;
}
.nav--open .menuicon__bar:nth-child(1),
.nav--open .menuicon__bar:nth-child(3) {
  top: 50%;
  transform: rotate(45deg);
}
.nav--open .menuicon__bar:nth-child(2) {
  transform: rotate(-45deg);
}
