/* Post
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.post__lead {
  font-size: 2.4rem;
  line-height: 2.8rem;
}

/* md */
@media (min-width: 670px) {
  .post__content {
    margin: 0 10rem;
  }
  .post__lead {
    font-size: 3.6rem;
    line-height: 4.2rem;
  }
}

/* lg */
@media (min-width: 940px) {
  .post__content {
    margin: 0 20rem;
  }
}
