---
layout: layouts/base.njk
permalink: /cv/
eleventyNavigation:
  key: CV
  order: 1
---
<h1>CV</h1>

{% set cvlist = collections.cv %}
<div class="cvlist">
  {% for entry in cvlist %}
    <div class="cvlist__item">
      <h2 class="cvlist__title">
        <a class="cvlist__link" href="{{ entry.url | url }}">{{ entry.data.title }}</a>
      </h2>
      <p class="cvlist__tag">{{ entry.data.date }} | {{ entry.data.tag }}</p>
    </div>
  {% endfor %}
</div>
