---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 0
---

<div class="hero">
  <strong class="hero__pretitle">Hi, my name is Simon</strong>
  <p class="hero__title--crossed">I do programming.</p>
  <p class="hero__title--crossed">I do design.</p>
  <h1 class="hero__title">I do web!</h1>
  <div class="hero__content">
    <p>
      I’m a frontend developer from Nuremberg, <br class="hero__br" />
      loving good UX and his bike.
    </p>
  </div>
</div>

<div>
  <h2>Latest Work</h2>
  {% set portfoliolist = collections.portfolio | first %}
  {% include "portfoliolist.njk" %}
</div>
