---
layout: layouts/base.njk
eleventyNavigation:
  key: home.
  order: 0
---

<h1>hi, i'm simon.</h2>
<p class="md:w-2/3">
  I'm a frontend developer from Nuremberg, loving good UX and his bike. I have a master's degree in Media Technology & Media Production,
  but almost everything I know about web development today I taught myself.
</p>

<div class="md:w-1/3">
  <span class="font-semibold">#angular</span>
  <span class="font-semibold">#react</span>
  <span class="font-semibold">#reactnative</span>
  <span class="font-semibold">#uxdesign</span>
  <span class="font-semibold">#uidesign</span>
  <span class="font-semibold">#webdevelopment</span>
  <span class="font-semibold">#mobiledevelopment</span>
  <span class="font-semibold">#rxjs</span>
  <span class="font-semibold">#redux</span>
  <span class="font-semibold">#jamstack</span>
  <span class="font-semibold">#rest</span>
  <span class="font-semibold">#wordpress</span>
  <span class="font-semibold">#html5</span>
  <span class="font-semibold">#css</span>
  <span class="font-semibold">#javascript</span>
  <span class="font-semibold">#bdd</span>
  <span class="font-semibold">#sast</span>
  <span class="font-semibold">#dast</span>
  <span class="font-semibold">#oss</span>
  <span class="font-semibold">#mysql</span>
  <span class="font-semibold">#php</span>
  <span class="font-semibold">#architektur</span>
  <span class="font-semibold">#konzeption</span>
  <span class="font-semibold">#moderation</span>
  <span class="font-semibold">#scrum</span>
</div>
