---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 0
---

{% include "hero.njk" %}

<div>
  <h2>Latest Work</h2>
  {% set postlist = collections.posts | firstItem %}
  {% include "postlist.njk" %}
</div>
