---
layout: layouts/base.njk
permalink: /jobs/
eleventyNavigation:
  key: cv.
  order: 1
---

<h1>cv.</h1>
<p class="md:w-2/3">
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
</p>

{% set joblist = collections.jobs %}
{% include "joblist.njk" %}
