---
layout: layouts/base.njk
permalink: /jobs/
eleventyNavigation:
  key: cv.
  order: 1
---

<h1>cv.</h1>
<p class="md:w-2/3">
  In the meantime, I've been around a bit. During my studies as a working student
  and since 2017 finally as a permanent software developer, just take a look.
</p>

{% set joblist = collections.jobs %}
{% include "joblist.njk" %}
