---
layout: layouts/base.njk
permalink: /posts/
eleventyNavigation:
  key: portfolio.
  order: 2
---

<h1>portfolio.</h1>
<p class="md:w-2/3">
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
</p>

{% set postlist = collections.posts %}
{% include "postlist.njk" %}
