{% set css %}
  {% include "css/footer.css" %}
  {% include "css/header.css" %}
  {% include "css/hero.css" %}
  {% include "css/joblist.css" %}
  {% include "css/navigation.css" %}
  {% include "css/normalize.css" %}
  {% include "css/post.css" %}
  {% include "css/postlist.css" %}
  {% include "css/theme.css" %}
{% endset %}

<style>
  {{ css | cssmin | safe }}
</style>
