<footer class="grid grid-cols-1 sm:grid-cols-2 py-5 text-sm">
  <span class="flex items-center justify-center sm:justify-start">© 2013-2021, Simon Stubenvoll</span>

  <span class="flex items-center justify-center sm:justify-end">
    <a class="font-semibold p-1" href="{{ '/privacy.html' | url }}">privacy.</a>
    <a class="font-semibold p-1" href="{{ '/imprint.html' | url }}">imprint.</a>
    <a class="font-semibold p-1" href="https://twitter.com/therealstbnvll/" title="Twitter" target="_blank" rel="noopener noreferrer">twitter.</a>
    <a class="font-semibold p-1" href="https://xing.to/simonstubenvoll/" title="Xing" target="_blank" rel="noopener noreferrer">xing.</a>
  </span>
</footer>
