<footer class="footer">
  <div class="footer__inner container">
    <span class="footer__item">© 2013-2021, Simon Stubenvoll</span>
    <span class="footer__item footer__item--right">
      <a class="footer__link" href="{{ '/privacy.html' | url }}">Privacy</a> /
      <a class="footer__link" href="{{ '/imprint.html' | url }}">Imprint</a>
    </span>
    <span class="footer__item">
      <a class="footer__icon footer__icon--twitter" href="https://twitter.com/therealstbnvll/" title="Twitter" target="_blank" rel="noopener noreferrer"></a>
      <a class="footer__icon footer__icon--xing" href="https://xing.to/simonstubenvoll/" title="Xing" target="_blank" rel="noopener noreferrer"></a>
    </span>
  </div>
</footer>
