<header class="header" role="banner">
  <div class="header__inner container">
    <a class="header__brand" href="{{ '/' | url }}" rel="home">
      <img class="header__avatar" src="{{ '/img/avatar.jpg' | url }}">
      <span class="header__title">{{ metadata.title }}</span>
    </a>

    <div class="header__nav">
      <nav class="nav" role="navigation">
        <ul class="nav__menu">
          {% for entry in collections.all | eleventyNavigation %}
            <li class="nav__item{% if entry.url == page.url %} nav__item--active{% endif %}">
              <a class="nav__link" href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
