<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  {% for job in joblist %}
    <div class="md:mr-4">
      <h2>
        <span class="font-mono font-normal">{{ job.data.date | date }}</span>
        <span>{{ job.data.title }}</span>
        <a href="{{ job.data.website }}" target="_blank" rel="noopener noreferrer">#</a>
      </h2>
      <span>{{ job.data.description }}</span>
    </div>
  {% endfor %}
</div>
