<div class="grid grid-cols-1 gap-4">
  {% for job in joblist %}
    <a class="md:flex md:items-center" href="{{ job.url | url }}">
      <span class="font-mono text-4xl md:mr-2">{{ job.data.date | date }}</span>
      <div>
        <h2>{{ job.data.title }}</h2>
        <span>{{ job.data.position }}</span>
      </div>
    </a>
  {% endfor %}
</div>
