<div class="postlist">
  {% for post in postlist %}
    <div class="postlist__item">
      <img class="postlist__thumb" src="{{ '/img/posts/' + post.data.thumb | url }}">
      <div class="postlist__text">
        <h2 class="postlist__title">
          <a class="postlist__link" href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h2>
        <strong class="postlist__tag">{{ post.data.date }} | {{ post.data.tag }}</strong>
        <p class="postlist__lead">{{ post.data.lead }}</p>
      </div>
    </div>
  {% endfor %}
</div>