<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    {% include "meta.njk" %}

    <link rel="stylesheet" href="{{ '/css/footer.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/header.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/hero.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/joblist.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/navigation.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/normalize.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/post.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/postlist.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/theme.css' | url }}">
  </head>

  <body>
    {% include "header.njk" %}

    <main class="main container container--narrow" role="main">
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}

    <script src="{{ '/js/navigation.js' | url }}" defer></script>
  </body>
</html>
