<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="stylesheet" href="{{ '/css/base.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/cv.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/home.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/normalize.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/post.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/theme.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/worklist.css' | url }}">
  </head>

  <body>
    <header class="header" role="banner">
      <div class="header__inner container">
        <a class="header__brand" href="{{ '/' | url }}" rel="home">
          <img class="header__brand__avatar" src="{{ '/img/simonstubenvoll.jpg' | url }}">
          <span class="header__brand__text">{{ metadata.title }}</span>
        </a>

        <div class="header__nav">
          <nav class="nav" role="navigation">
            <ul class="nav__menu">
              {% for entry in collections.all | eleventyNavigation %}
                <li class="nav__item{% if entry.url == page.url %} nav__item--active{% endif %}">
                  <a class="nav__link" href="{{ entry.url | url }}">{{ entry.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main class="main container--narrow" role="main">
      {{ content | safe }}
    </main>

    <footer class="footer">
      <div class="footer__inner container">
        <span class="footer__item">© 2020, Simon Stubenvoll</span>
        <span class="footer__item">
          <a class="footer__link" href="https://twitter.com/therealstbnvll/" target="_blank" rel="noopener noreferrer">Twitter</a> /
          <a class="footer__link" href="https://xing.to/simonstubenvoll/" target="_blank" rel="noopener noreferrer">Xing</a> /
          <a class="footer__link" href="#">Data Privacy</a> /
          <a class="footer__link" href="#">Imprint</a>
        </span>
      </div>
    </footer>
  </body>
</html>
